// -- Our Range -- //

.none {
	display: none;
}

// -- OVERRIDE -- //

.lg-image {
	width: 800px!important;
	height: 600px!important;
}

.lg-thumb {
	margin: auto!important;
}

.our-range-body-wrapper {
	.banner-image-wrapper {

		@include media-query(max, 450) {
			height: 285px;
		}

		figure {

			@include media-query(max, 450) {
				height: 260px;
			}
		}

		.image-carousel {
			.carousel-inner {
				position: relative;
				overflow: hidden;
				width: 100%;
				height: 500px;


				.img-one {
					background: url("/images/our-range/banners/white_header.jpg") bottom;
					height: 500px;

					@include media-query(max, 450) {
						height: 300px;
						background-size: cover;
						background-position: top;
					}
				}

				.img-two {
					background: url("/images/our-range/banners/image_header.jpg") bottom;
					height: 500px;

					@include media-query(max, 450) {
						height: 300px;
						background-size: cover;
						background-position: top;
					}
				}

				.img-three {
					background: url("/images/our-range/banners/mirror_header.jpg") bottom;
					height: 500px;

					@include media-query(max, 450) {
						height: 300px;
						background-size: cover;
						background-position: top;
					}
				}

				.img-four {
					background: url("/images/our-range/banners/glass_header.jpg") bottom;
					height: 500px;

					@include media-query(max, 450) {
						height: 300px;
						background-size: cover;
						background-position: top;
					}
				}

				.img-five {
					background: url("/images/our-range/our_range_bar_header.jpg") bottom;
					height: 500px;

					@include media-query(max, 450) {
						height: 300px;
						background-size: cover;
						background-position: top;
					}
				}

				.img-six {
					background: url("/images/our-range/our_range_header_thermostats.jpg") bottom;
					height: 500px;

					@include media-query(max, 450) {
						height: 300px;
						background-size: cover;
						background-position: top;
					}
				}

				.carousel-caption {
					top: 130px;
					text-shadow: none;

					@include media-query(max, 450) {
						top: 50px;
					}

					h2 {
						font-weight: 500;
						font-size: 32px;

						@include media-query(max, 450) {
							font-size: 26px;
							margin-bottom: 0;
							text-align: center;
						}
					}

					h3 {
						font-size: 28px;
						font-weight: 200;
						margin-bottom: 30px;
						color: $secondary;

						@include media-query(max, 450) {
							font-size: 20px;
							text-align: center;
							margin-top: 10px;
						}
					}

					&.slide-two {
						text-align: left;

						@include media-query(max, 450) {
							text-align: center;
						}

						h2 {
							text-align: left;
							color: $primary;
							font-weight: 500;
							font-size: 32px;

							@include media-query(max, 450) {
								text-align: center;
								font-size: 26px;
								margin-bottom: 0;
							}
						}

						h3 {
							text-align: left;
							color: $secondary;
							font-size: 28px;
							font-weight: 200;


							@include media-query(max, 450) {
								text-align: center;
								font-size: 20px;
								margin-top: 10px;
							}
						}
					}

					&.slide-three {
						text-align: right;

						@include media-query(max, 450) {
							text-align: center;
						}

						h2 {
							text-align: right;
							color: $primary;
							font-size: 32px;
							font-weight: 500;

							@include media-query(max, 450) {
								text-align: center;
								font-size: 26px;
								margin-bottom: 0;
							}
						}

						h3 {
							color: $secondary;
							text-align: right;
							font-size: 28px;
							font-weight: 200;

							@include media-query(max, 450) {
								text-align: center;
								font-size: 20px;
								margin-top: 10px;
							}
						}
					}

					&.slide-four {
						text-align: left;

						@include media-query(max, 450) {
							text-align: center;
						}

						h2 {
							text-align: left;
							color: $primary;
							font-size: 32px;
							font-weight: 500;

							@include media-query(max, 450) {
								text-align: center;
								font-size: 26px;
								margin-bottom: 0;
							}
						}

						h3 {
							color: $secondary;
							text-align: left;
							font-size: 28px;
							font-weight: 200;

							@include media-query(max, 450) {
								text-align: center;
								font-size: 20px;
								margin-top: 10px;
							}
						}
					}


					&.slide-five {
						text-align: left;

						@include media-query(max, 450) {
							text-align: center;
						}

						h2 {
							text-align: left;
							color: $primary;
							font-size: 32px;
							font-weight: 500;

							@include media-query(max, 450) {
								text-align: center;
								margin-bottom: 0;
								color: $secondary;
								font-size: 26px;
							}
						}

						h3 {
							color: $secondary;
							text-align: left;
							font-size: 28px;
							font-weight: 200;

							@include media-query(max, 450) {
								text-align: center;
								font-size: 20px;
								margin-top: 10px;
							}
						}
					}

					&.slide-six {
						text-align: left;

						@include media-query(max, 450) {
							text-align: center;
						}

						h2 {
							text-align: left;
							color: $primary;
							font-size: 32px;
							font-weight: 500;

							@include media-query(max, 450) {
								text-align: center;
								font-size: 26px;
							}
						}

						h3 {
							color: $secondary;
							text-align: left;
							font-size: 28px;
							font-weight: 200;

							@include media-query(max, 450) {
								text-align: center;
								font-size: 20px;
								margin-top: 10px;
							}
						}
					}
				}
			}

			.carousel-control {
				&.right, &.left {
					background-image: none!important;
				}

				.fa {
					color: white!important;
					font-size: 45px!important;;
					position: relative;
					top: 40%;

					@include media-query(max, 450) {
						font-size: 28px!important;
					}
				}
			}
		}
	}

	.upper-section {
		width: 100%;
		max-width: 850px;
		text-align: center;
		margin: 20px auto!important;
		display: block;
		float: none;

		@include media-query(max, 450) {
			margin: 0 auto;
		}

		.upper-row {
			margin-bottom: 35px;

			@include media-query(max, 450) {
				margin: 35px auto;
			}

			h1 {
				margin: 15px 0 10px;
			}

			.orange-line {
				border-bottom: 5px solid #FF8700;
				max-width: 75px;
				text-align: center;
				margin: 0 auto 15px;
				display: block;
			}

			img {
				margin-bottom: 35px;
			}

			p {
				font-size: 16px;
				color: $base-font;

				@include media-query(max, 450) {
					font-size: 13px;
				}
			}
		}
	}

	.products-wrapper {
		background: #f5f5f6;
		padding-top: 40px;

		.products-section {
			.product-block {
				min-height: 320px;

				.lightgallery {

					&:hover {
						img {
							opacity: 0.3;
						}

						.middle {
							opacity: 1;
						}
					}
				}

				img {
					min-height: 195px;
					opacity: 1;
					height: 195px;
					width: 260px;
					display: block;
					transition: .5s ease;
					backface-visibility: hidden;

					@include media-query(max, 450) {
						margin: 0 auto 20px;
					}

				}

				.middle {
					transition: .5s ease;
					opacity: 0;
					position: absolute;
					top: 50%;
					left: 50%;
					transform: translate(-50%, -230%);
					-ms-transform: translate(-50%, 230%);

					.text {
						background: black;
						opacity: 0.7;
						color: white;
						font-size: 12px;
						padding: 14px 26px;
					}
				}




				.block-text {
					padding: 15px 10px;
					background: white;
					margin-bottom: 25px;
					min-height: 135px;

					@include media-query(max, 450) {
						min-height: 100px;
					}

					h4 {
						font-size: 14px;
						text-transform: capitalize;
						margin: 0 auto 5px;
					}

					p {
						color: $base-font;
						font-size: 12px;
					}
				}
			}
		}
	}

	.our-range-bottom-wrapper {
		.bottom-text {
			h3 {
				margin: 20px;
			}

			a {
				text-align: center;
				margin-bottom: 25px;
			}
		}
	}

	.vid-bottom {
		width: 100%;
		max-width: 850px;
		text-align: center;
		margin: 0 auto 40px!important;
		display: block;
		float: none;

		video {
			border: 1px solid #f4f4f4;
		}
	}


}





